<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
      	<h3><%= @user.nick_name if @user.nick_name? %> Stats</h3>
        <ul>Height: <%= @user.height_ft %>'<%= @user.height_in %></ul>
        <h6>At Start:</h6>
        <ul>Weight: <%= @user.start_weight %> | BMI: <%= @user.start_weight / (((@user.height_ft * 12) + @user.height_in) * ((@user.height_ft * 12) + @user.height_in)) * 703 %></ul>
        <h6>Current:</h6>
        <ul>Weight: <%= @user.start_weight %> | BMI: <%= @user.start_weight / (((@user.height_ft * 12) + @user.height_in) * ((@user.height_ft * 12) + @user.height_in)) * 703 %></ul>
        <ul>On <%= @user.created_at %></ul>
        <h6>Goal:</h6>
        <ul>Weight: <%= @user.target_weight %> | BMI: <%= @user.target_weight / (((@user.height_ft * 12) + @user.height_in) * ((@user.height_ft * 12) + @user.height_in)) * 703 %></ul>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      	<ul class="users">
        <%= render 'shared/feed' %>
    	</ul>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Stat Streak</h1>

    <h2>
      This is the home page for
  		<a root_path>Stat Streak</a>.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("statstreak_logo.png", alt: "StatStreakLogo"), root_path %>
<% end %>